{% extends "base.html" %}
{% block title %}<title>My contact info</title>{% endblock %}
{% block header %}
    {% load staticfiles %}
    {{ form.media }}
{% endblock %}
{% block h1 %}42 Coffee Cups Test Assignment{% endblock %}
{% block login_logout %}
    {% if user.is_authenticated %}
        Welcome, {{ user.username }} <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
{% endblock %}
{% block edit_admin %}
    {%load tags %}
    {% if user.is_authenticated %}
            <a href="{% url 'update' my_info.id %}">Edit</a>
            <a href="{% edit_link my_info %}">(admin)</a>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="partcontainer">
        <div class="leftpart">
            <div>
                 {{ form.name.label_tag }}
                <p>{{ my_info.name }}</p>
            </div>
            <div>
                 {{ form.surname.label_tag }}
                <p>{{ my_info.surname}}</p>
            </div>
            <div>
                {{ form.date_birth.label_tag }}
                <p>{{ my_info.date_birth }}</p>
            </div>
            <div>
                {{ form.photo.label_tag }}
                {% if my_info.photo%}
                    <img src="{{ my_info.photo.url }}" alt="My uploaded photo" width="250px" height="330px" border="1px">
                {% else %}
                    <div class="no-photo-view">Photo was not uploaded yet</div>
                {% endif %}
            </div>

        </div>
        <div class="rightpart">
            <div>
                {{ form.contacts.label_tag }}
                 <p>{{ my_info.contacts }}</p>
            </div>
            <div>
                {{ form.email.label_tag }}
                <p>{{ my_info.email}}</p>
            </div>
            <div>
                {{ form.jid.label_tag }}
                <p>{{ my_info.jid}}</p>
            </div>
            <div>
                {{ form.skype_id.label_tag }}
                <p>{{ my_info.skype_id}}</p>
            </div>
             <div class="label-multiline-view">
                {{ form.other_contacts.label_tag }}
                <div class="data-multiline">{{ my_info.other_contacts}}</div>
            </div>
            <div class="label-multiline-view">
                {{ form.bio.label_tag }}
                <div class="data-multiline">{{ my_info.bio}}</div>
            </div>
        </div>
    </div>
    <div class="buttons-block-bottom">
    </div>
    <hr>
    <div class="partcontainer">
        <a href="{% url 'requests' %}">requests</a>
    </div>
{% endblock %}
