{% extends "base.html" %}
{% block title %}<title>My contact info</title>{% endblock %}

{% block header %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "css/datetimepicker.css" %}" type="text/css" />
    <script src="{% static "js/bootstrap.min.js" %}" type="text/javascript" ></script>
    <script src="{% static "js/bootstrap-datetimepicker.js" %}" type="text/javascript" ></script>
    <script src="{% static "js/jquery.form.js" %}" type="text/javascript" ></script>
{% endblock %}

{% block h1 %}42 Coffee Cups Test Assignment{% endblock %}
{% block login_logout %}
    {% if user.is_authenticated %}
        Welcome, {{ user.username }} <a href="{% url 'logout' %}">Logout</a>
    {% endif %}
{% endblock %}
{% block content %}
    <form enctype="multipart/form-data" method="post" action="">
    {% csrf_token %}
        <div class="partcontainer">
            <div class="leftpart">
                <div class="field">
                    <label>Name:</label>
                    {{ my_info.name }}
                    <span class="error">{{ my_info.name.errors }}</span>
                </div>
                <div class="field">
                    <label>Surname:</label>
                    {{ my_info.surname }}
                    <span class="error">{{ my_info.surname.errors }}</span>
                </div>
                <div class="field">
                    <label>Date of birth:</label>
                    {{ my_info.date_of_birth}}
                    <span class="error">{{ my_info.date_of_birth.errors }}</span>
                </div>
                 <div class="field">
                    <label>Photo:</label>
                    {{ my_info.photo}}
                </div>
                <div class="field">
                    <label></label>
                    {% if userInfo.photo%}
                        <img src="{{ userInfo.photo.url }}" alt="My uploaded photo" width="250px" height="330px" border="1px">
                    {% else %}
                        <div class="no-photo">Photo was not uploaded yet</div>
                    {% endif %}
                </div>
            </div>
            <div class="rightpart">
                <div class="field">
                    <label>Contacts:</label>
                    {{ my_info.contacts }}
                    <span class="error">{{ my_info.contacts.errors }}</span>
                </div>
                <div class="field">
                    <label>Email:</label>
                    {{ my_info.email }}
                    <span class="error">{{ my_info.email.errors }}</span>
                </div>
                 <div class="field">
                    <label>Jabber:</label>
                    {{ my_info.jid }}
                    <span class="error">{{ my_info.jid.errors }}</span>
                </div>
                <div class="field">
                    <label>Skype:</label>
                    {{ my_info.skype_id }}
                    <span class="error">{{ my_info.skype_id.errors }}</span>
                </div>
                <div class="field-multiline">
                    <label>Other contacts:</label>
                    {{ my_info.other_contacts}}
                    <span class="error">{{ my_info.other_contacts.errors }}</span>
                </div>
                <div class="field-multiline">
                    <label>Bio:</label>
                    {{ my_info.bio}}
                    <span class="error">{{ my_info.bio.errors }}</span>
                </div>
            </div>
        </div>
        <div class="buttons-block-bottom">
           <input type="submit" value="Save"/>
           <a href="{% url 'main' %}">Cancel</a>
        </div>
    </form>
    <hr>
    <div class="partcontainer">
        <a href="{% url 'requests' %}">requests</a>
    </div>
{% endblock %}