<!DOCTYPE html>
<html>
<head>
    <title>My contact info</title>
    {% load static from staticfiles %}
    <link href="{{ STATIC_URL }}style.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>42 Coffee Cups Test Assignment</h1>
    <div class="partcontainer">
        <div class="leftpart">
            <div>
                <div class="label">Name:</div>
                <p>{{ myinfo.name }}</p>
            </div>
            <div>
                <div class="label">Surname:</div>
                <p>{{ myinfo.surname}}</p>
            </div>
            <div>
                <div class="label">Date of birth:</div>
                <p>{{ myinfo.date_of_birth}}</p>
            </div>
            <div>
                <div class="label">Bio:</div>
                <div class="data">{{ myinfo.bio}}</div>
            </div>
        </div>
        <div class="rightpart">
            <div>
                <div class="label">Contacts:</div>
                 <p>{{ myinfo.contacts }}</p>
            </div>
            <div>
                <div class="label">Email:</div>
                <p>{{ myinfo.email}}</p>
            </div>
            <div>
                <div class="label">Jabber:</div>
                <p>{{ myinfo.jid}}</p>
            </div>
            <div>
                <div class="label">Skype:</div>
                <p>{{ myinfo.skype_id}}</p>
            </div>
             <div>
                <div class="label">Other contacts:</div>
                <div class="data">{{ myinfo.other_contacts}}</div>
            </div>
        </div>
    </div>
</body>
</html>