{% extends "base.html" %}
{% block title %}<title>First 10 http requests</title>{% endblock %}
{% block h1 %}First 10 http requests.{% endblock %}
{% block login_logout %}
    {% if user.is_authenticated %}
        Welcome, {{ user.username }} <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
{% endblock %}
{%load tags %}
{% block content %}
    <table class="table">
        <tr>
            <th>id</th>
            <th>Host</th>
            <th>Path</th>
            <th>Method</th>
            <th>Date/Time</th>
            <th>Priority</th>
            {% if user.is_authenticated %}
                <th>Edit</th>
            {% endif %}
        </tr>
        {% if user.is_authenticated %}
            {% for r in requestsList %}
                <tr>
                    <td>{{ r.id }}</td>
                    <td>{{ r.host }}</td>
                    <td>{{ r.path }}</td>
                    <td>{{ r.method }}</td>
                    <td>{{ r.runtime }}</td>
                    <td>{{ r.priority }}</td>
                    <td><a href="{% edit_link r %}">(admin)</a></td>
                </tr>
            {% endfor %}
        {% else %}
             {% for r in requestsList %}
                <tr>
                    <td>{{ r.id }}</td>
                    <td>{{ r.host }}</td>
                    <td>{{ r.path }}</td>
                    <td>{{ r.method }}</td>
                    <td>{{ r.runtime }}</td>
                    <td>{{ r.priority }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    <h3>Items count: {{ requestsList.count }}</h3>
{% endblock %}
