

body {
    background-color: #EEEEEE;
    color: #484848;
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;

}
.partcontainer{
    width: 800px;
}

.leftpart {
    float: left;
    width: 50%;
}
.rightpart{
    float: right;
    width: 50%;
}

.label{
     font-size: 14px;
    float: left;
    width: 100px;
}
.data {
    width: 300px;
    float: right;
}